body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flow-root;
}
img {
  display: block;
  background-color: teal;
}
.animal__textBox {
  background-image: url(images/green.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 300px;
  color: white;
  background-color: #965d30;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom: 4px solid #4a260b;
}

.animal {
  margin: auto;
  display: flow-root;
}

.animal__textBox__name {
  font-size: 24px;
}

.test {
  background-color: aqua;
  margin-top: 15.44px;
}
.testh1 {
  background-color: blue;
}
