h1,
body,
html {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.animal__textBox {
  box-sizing: border-box;
  width: 300px;
  padding: 15px;
  color: white;
  background-color: #965d30;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 10px 0 0px #4a260b;
}

.animal {
  width: fit-content;
}

.fox {
  margin: auto;
  padding: 100px 0px;
}

.animal__textBox__name {
  font-size: 24px;
}
